* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  background-color: #333;
}

/*events styling */
#attendees-wrap {
  display: none;
}

#attendees-list {
  display: none;
}

#COVID-notice h3 {
  font-size: 15px;
  color: grey;
}

#COVID-notice p {
  font-size: 10px;
  color: grey;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.row {
  height: 95%;
  display: flex;
  flex-wrap: wrap;
}

#side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

#map {
  height: 100%;
}

.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

@media sceen and (max-width: 700px) {
  .row, .navbar {
    flex-direction: column;
  }
}

/* profile syling */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 15%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#user-info {
  justify-content: center;
}

#bottom-wrapper {
  display: flex;
  justify-content: space-around;
}

