:root {
  --option-color: #696969;
  --form-background: rgba(0,0,0,0.2);
  --navbar-color: #09280a;
  --button-color: rgba(248, 202, 210, 0.658);
  --button-color-selected: rgba(247, 162, 177, 0.979);
  --request-button-color: #006400;
  --selected-color: #c6e9c6;
  --sidebar-color: #f1f1f1;
  --red-marker-color: #F78F8F;
  --base-font: 'Roboto';
}

img {
  max-width: 100%;
  max-height: 100%;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* General font styling */
p {
  font-family: var(--base-font);
  font-weight: 300;
}

label {
  font-family: var(--base-font);
  font-weight: 300;
}

h1 {
  font-family: var(--base-font);
  font-weight: 500;
}

h2, h3, h4, h5 {
  font-family: var(--base-font);
  font-weight: 400;
}

/** Navbar styling */

.navbar {
  display: flex;
  background-color: var(--navbar-color);
}

.navbar-text {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
}

#user-navbar-section {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.button {
  background-color: var(--button-color);
  color: var(--sidebar-color);
  border: 1.5px solid var(--button-color);
  font-size: 16px;
  padding: 5px 10px;
  font-weight: 450;
  font-family: var(--base-font);
  border-radius: 4px;
  transition: ease background-color 0.1s, ease color 0.1s;
  cursor: pointer;
}

.button:hover {
  background-color: var(--sidebar-color);
  color: var(--button-color);
}

.button-selected {
  background-color: var(--button-color-selected);
}

.button-selected:hover {
  background-color: var(--sidebar-color);
  color: var(--button-color-selected);
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 4px 16px;
  border-radius: 5px;
  margin: 15px;
  width: 425px;
  height: 365px;
  max-width: 90%;
  position: relative;
  z-index: 3;
  text-align: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.contents {
  padding: 2px 16px;
}

/* Events form styling */
#events-title {
  font-size: 40px;
  margin: 1.5% 3% 1.5% 1%; 
  text-align: center;
}
#event-body {
  display: flex;
}

.shaded-box {
  padding: 4%;
  background-color: var(--form-background);
}

#event-form {
  flex: 2;
  justify-content: right;
  font-size: 15px;
}

#attendees-wrap {
  display: none;
}

#loaded-users {
  height: 100px;
  overflow-y: auto;
}

#COVID-notice h3 {
  font-size: 15px;
  color: grey;
}

#COVID-notice p {
  font-size: 10px;
  color: grey;
}

#place-id {
  display: none;
}

.warning {
  color: red;
}

#invited-attendee-list {
  width: 200px;
  height: 50px;
}

/* Events element styling */
.name-display {
  font-size: 24px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.date-display {
  font-size: 13px;
  color: var(--option-color);
  margin-top: 0;
  margin-bottom: 0;
}

.location-display {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
}

.fa-map-marker {
  margin-right: 5px;
}

.privacy-display {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.details-display {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 0;
}

.icon-button {
  font-size: 14px;
  padding: 3px 6px;
  margin: 2px;
}

#event-creator {
  display: flex;
  align-items: center;
  justify-content: left;
}

#event-creator-name {
  font-size: 15px;
}

.top-card {
  display: flex;
  justify-content: space-between;
}

.user-display {
  display: flex;
  align-items: center;
  justify-content: left;
}

#attendee-info-container {
  display: inline-flex;
}

.attendee-info {
  margin-left: 6px;
  margin-right: 6px;
  font-size: 15px;
}

#event-buttons {
  display: flex;
  justify-content: center;
}

#likes-element {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
}

#edit-event-button {
  position: absolute;
  bottom: 9px;
  right: 30px;
}

#delete-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.distance-display {
  font-size: 15px;
}

/** Event buttons styling */
.event-button {
  background-color: var(--sidebar-color);
  color: var(--request-button-color);
  border: 1.5px solid var(--request-button-color);
  font-size: 14px;
  padding: 4px 8px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 450;
  font-family: var(--base-font);
  border-radius: 12px;
  outline: none;
  transition: ease background-color 0.1s, ease color 0.1s;
  cursor: pointer;
}

.event-button-selected {
  background-color: var(--selected-color);
}

/** Map styling */
.row {
  height: 95%;
  display: flex;
  flex-wrap: wrap;
}

#side {
  flex:25%;
  flex-wrap: wrap;
  max-width: 25%;
  background-color: var(--sidebar-color);
  padding: 20px;
  font-family: var(--base-font);
}

#side h1 {
  color: var(--request-button-color);
}

.place-info {
  display: flex;
  align-items: center;
  clear: both;
  margin: 7px;
  overflow-wrap: anywhere;
}

p.place-info, h5.place-info, a.place-info {
  margin-left: 20px;
}

#map {
  height: 100%;
  z-index: 1;
}

#map-snippet {
  height: 700px;
  width: 400px;
  flex: 4;
}

.main {
  flex: 75%;
  background-color: white;
  padding: 20px;
  font-family: var(--base-font);
}

@media sceen and (max-width: 700px) {
  .row, .navbar {
    flex-direction: column;
  }
}

/* Popup styling */
.popup {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  padding: 10%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-text {
  text-align: center;
  margin: auto;
  width: 350px;
  background-color: white;
  padding: 20px 20px 20px 20px;
  position: relative;
  border-radius: 5px;
}

.request-element {
  display: flex;
  align-items: center;
}

.request-buttons {
  margin-left: 10px;
}

.fa-close {
  color: var(--option-color);
  cursor: pointer;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Profile picture styling */
.profile-pic-large {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.profile-pic-small {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.user-element {
  display: flex;
  align-items: center;
  clear: both;
  cursor: pointer;
}

/* Profile options styling */
.fa-edit {
  color: var(--option-color);
  cursor: pointer;
}

.fa-trash-o {
  color: var(--option-color);
  cursor: pointer;
} 

#edit-name-button {
  transition: 0.5s ease;
  opacity: 0;
  padding-top: 8px;
  padding-left: 8px;
}

#edit-image-button {
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: 10px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 100px;
}

.personal-pic-container {
  position: relative;
}

#personal-pic {
  transition: 0.5s ease;
  backface-visibility: hidden;
}

#personal-name {
  transition: 0.5 ease;
}

#personal-name:hover + #edit-name-button {
  opacity: 1;
}

#personal-name:hover {
  opacity: 0.7;
}

.personal-pic-container:hover #edit-image-button {
  opacity: 1;
}

.personal-pic-container:hover #personal-pic {
  opacity: 0.5;
}

/* Profile saved interests styling */
#interests-container {
  text-align: center;
}

#interests-list {
  text-align: left;
  margin-left: 30px;
}

#interest-element {
  display: flex;
  align-items: center;
  clear: both;
  cursor: pointer;
}

#interest-icon {
  width: 30px;
  height: 30px;
  margin-right: 3px;
}

/* Profile page styling */
#profile-body {
  background-color: var(--sidebar-color);
}

#profile-content {
  max-width: 1306px;
  margin: 0 auto;
  height: 100%;
}

.profile-section {
  background-color: white;
  border-radius: 5px;
}

#basic-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px 20px 10px 20px;
}

.request-buttons {
  position: absolute;
  right: 18px;
}

#name-buddy-wrapper {
  margin-left: 20px;
}

#name-container {
  display: inline-flex;
  align-items: center;
}

#bottom-wrapper {
  display: flex;
  text-align: center;
  min-height: 100%;
}

#saved-interests {
  flex: 1;
  margin: 10px 10px 20px 20px;
}

#events-and-posts {
  flex: 3;
  margin: 10px 20px 20px 10px;
}

#dropdown-container {
  text-align: left;
}

#attending-events {
  display: block;
}

#invited-events {
  display: none;
}

#created-events {
  display: none;
}

.events-grid {
  display: flex;
  flex-wrap: wrap;
}

#posts-grid {
  display: flex;
  flex-wrap: wrap;
}

.profile-heading {
  font-weight: 500;
  color: var(--request-button-color);
}

/* Buddy request button styling */
.request-button {
  background-color: var(--request-button-color);
  color: var(--side-bar);
  border: 1.5px solid var(--request-button-color);
  font-size: 10px;
  padding: 5px 10px;
  font-weight: 400;
  font-family: var(--base-font);
  border-radius: 4px;
  transition: ease background-color 0.1s, ease color 0.1s;
  margin-right: 2px;
}

.request-button:hover {
  background-color: var(--side-bar);
  color: var(--request-button-color);
}

/* Style the tab in sidebar */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  font-family: var(--base-font);
  z-index: 2;
}

.profile-tab{
  border: none;
}

/* Style font for sidebar */
#side a {
  color: black;
  text-decoration: none;
}

#side a:hover {
  text-decoration: underline;
}

#post-form {
  display: none;
}

/* Search Users styling */
#search-users-container {
  text-align: center;
}

#searched-users {
  height: 100%;
  width: 300px;
  display: inline-block;
  text-align: left;
  background-color: var(--sidebar-color);
  padding-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

/* Styling for filter buttons. */
.filter-button {
  font-family: var(--base-font);
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.filter-button:hover {
  background-color: var(--navbar-color);
  color: white;
} 

.filter-button.active {
  background-color: var(--request-button-color);
  color: white;
} 

.clear-button {
  font-family: var(--base-font);
  float: right;
  background-color: #ddd;
  border: none;
  color: #002b54;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.clear-button:hover {
  background-color: var(--button-color);
}

/* Loading icon functionality */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid var(--navbar-color);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#finding-location-text {
  text-align: center;
  display: none;
}

#found-location-text {
  display: none;
}

/* Styling for map saved interest */
#map-interest-container {
  display: flex;
  align-items: center;
  margin-top: -15px;
  margin-bottom: 5px;
}

.fa-heart-o {
  color: var(--red-marker-color);
  font-size: 20px;
  font-weight: 500;
  margin-right: 5px;
  cursor: pointer;
}

.fa-heart {
  color: var(--red-marker-color);
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
}

/* Near Me styling */
#nearbyEvents {
  display: flex;
  flex-wrap: wrap;
}
